@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: white;
  --text: #282c34
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #282c34;
    --text: white
  } 
}

body {
  @apply h-screen;
  background-color: var(--bg);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}